.parentBox {
  border: 1px solid yellow;
  width: 80%;
  height: 200px;
  margin: 10px auto;
  background-color: yellow;
}
.parentBox h6 {
  margin: 90px auto;
  font-size: 20px;
  font-family: poppins;
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .parentBox {
    /* border: 1px solid black; */
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
}
